.card {
  background-color: white;
  width: 300px;
  border-radius: $border-radius;
  margin: 0 10px;
  padding: 10px;
  margin-top: 20px;
  align-self: stretch;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.205);
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  &__title {
    font-size: 25px;
    padding: 5px;
    text-align: center;
  }
  &__img {
    width: 280px;
  }

  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
